@model List<Course>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>

@foreach (var item in Model)
{
    <div class="card m-2" style="max-width: 530px;float:left;">
        <div class="row">
            <div class="col-md 3">
                <div class="card" style="width: 18rem;">

                    <img src="@item.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Description</p>
                    </div>

                    <div class="card-body">
                        <a class="card-link">Engin DEMİROĞ</a>
                        <a class="card-link">ÜCRETSİZ</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

}